aside {
    background-color: rgb(235, 186, 186);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    display: flexbox;
    height: 100%;
    width: 350px;
}

.todo-aside {
    background-color: azure;
    margin-top: 200px;
    height: calc(100% - 200px);
}

.todo-reveal-form {
    display: none;
}

.plus-icon {
    font-size: 18px;
}

#add-todo-btn {
    background-color: rgb(48, 137, 238);
}

#add-todo-btn,
#show-todos-btn {
    padding: 4px;
    color: aliceblue;
    border: none;
    border-radius: 2px;
    height: 50px;
    width: 280px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: "Helvetica", Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date-submit-div {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#save-todo-button {
    padding: 4px;
    color: aliceblue;
    background-color: rgb(48, 137, 238);
    font-family: "Helvetica", Arial, sans-serif;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;
    height: 30px;
    font-size: 10px;
}

/* ska vara en klass för samma element som stylas istället ? */
#todo-title-input {
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    height: 80px;
    width: 240px;
    resize: none;
}

#todo-date-input {
    margin-left: 20px;
    width: 130px;
    height: 30px;
}

.todo-reveal-list {
    display: none;
}

.alltodos-div {
    margin-top: 20px;
}

#show-todos-btn {
    background-color: darkseagreen;
}

.today-aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    display: flexbox;
    height: 200px;
    width: 350px;
    padding: 20px; 
    box-sizing: border-box; 
    font-family: "Helvetica", Arial, sans-serif;
    color: #ffffff;
  }
  
  .today-aside h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .today-aside p {
    background-color: rgb(238, 236, 234);
    opacity: 0.8;
    font-family: "Helvetica", Arial, sans-serif;
    color: #484848;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0; 
  }
 