body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
main {
    justify-content: center;
    margin-left:350px;
    width: calc(100% - 350px); 
    margin-top: 8rem;
    height: 100%;
    background-color: rgb(235, 186, 186);
    overflow-x: hidden;
}

#calendar-container {
    margin: 0 auto;
    width: calc(100% - 200px);
    max-width: 1200px;
    height: 70px;
    align-items: center;
    text-align: center;
}

#calendar-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

#calendar-header button {
    margin: 0 90px;
    background-color: palevioletred;
    /* fixa till knapparna till pilar sedan med hover */
}

#calendar-table {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 0 70px;
}

.day {
    justify-content: center;
    font-size: 30px;
    padding: 0 70px; 
}




