/* aside.css */

aside {
    background-color: rgb(211, 145, 158);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    overflow-y: auto; /* Lägg till scroll-funktion */
    transition: transform 0.3s ease; /* Lägg till övergångseffekt för transform */
    transform: translateX(-100%); /* Dölj menyn genom att flytta den utanför skärmen */
}

.main-container {
    margin-left: 350px; /* Flytta huvudinnehållet åt höger */
    transition: margin-left 0.3s ease; /* Lägg till övergångseffekt för margin-left */
}

/* ... övriga stilar ... */

/* mediaqueries.css */

@media screen and (max-width: 820px) {
    aside {
        display: none; /* Dölj menyn */
    }

    .main-container {
        margin-left: 0;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    #header-items {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    [data-cy='month-year'] {
        left: 190px; /*ändrade plats på denna*/
        font-size: 16px; /* Justera fontstorleken för att passa skärmen */
    }

    [data-cy='next-month'] {
        right: -70px;
    }

    [data-cy='prev-month'] {
        left: -70px;
    }

    /* utkommenterade denna och gjorde ny för att justera var för sig
    /* [data-cy='prev-month'],
    [data-cy='month-year'],
    [data-cy='next-month'] { */
        /* font-size: 16px; Justera fontstorleken för att passa skärmen */
    /* } */

    #calendar-table {
        justify-content: center; /* Centrera kalendern horisontellt */
        width: 100%; /* Anpassa bredden för att fylla tillgängligt utrymme */
        overflow-x: hidden; /* Dölj eventuell horisontell scrollning */
    }

    .day {
        font-size: 18px; /* Justera fontstorleken för att passa skärmen */
        padding-bottom: 10px; /* Justera padding för att passa skärmen */
    }

    .holiday {
        font-size: 5px;
    }

    main {
        margin-left: 0; /* Ta bort marginalen till vänster */
        width: 100%; /* Anpassa bredden för att fylla tillgängligt utrymme */
    }

    #calendar-table {
        width: 100%; /* Anpassa bredden för att fylla tillgängligt utrymme */
        padding: 0 10px; /* Justera padding på sidorna */
        font-size: 14px; /* Justera fontstorleken för att göra kalendern mindre */
    }
}

@media screen and (max-width: 360px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        overflow-x: hidden;
        scrollbar-width: none; /* För Firefox */
        -ms-overflow-style: none; /* För IE och Edge */
        -webkit-overflow-scrolling: touch; /* För Safari */
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-padding: 0;
        scroll-margin: 0;
        scroll-snap-align: start;
    }

    .maximize-button {
        display: block; /* Visa maximize-knappen */
        position: fixed; /* Lägg till position: fixed för att hålla den synlig */
        bottom: 20px; /* Justera positionen längst ned på sidan */
        right: 20px; /* Justera positionen längst till höger på sidan */
        z-index: 9999; /* Lägg till z-index för att placera den över andra element */
    }

    .items {
        display: flex;
        justify-content: space-between;
    }

    .container::-webkit-scrollbar {
        display: none; /* För Chrome, Safari och Opera */
    }

    main {
        font-size: 14px; /* Justera fontstorleken för att göra texten mindre */
    }

    #calendar-table {
        font-size: 12px; /* Justera fontstorleken för att göra kalendern mindre */
        padding: 0; /* Ta bort padding på sidorna */
    }
}



/* la till mer css för att justera för surface 7 också */
@media screen and (min-width: 821px) {
    aside {        
        transform: translateX(0); /* Visa menyn igen */
    }
   
}
@media screen and (width: 912px) and (height: 1368px) {
    aside {
        width: 250px;
        transform: translateX(0);
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        overflow-x: hidden;
        scrollbar-width: none; /* För Firefox */
        -ms-overflow-style: none; /* För IE och Edge */
        -webkit-overflow-scrolling: touch; /* För Safari */
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-padding: 0;
        scroll-margin: 0;
        scroll-snap-align: start;
    }

    .maximize-button {
        display: block; /* Visa maximize-knappen */
        position: fixed; /* Lägg till position: fixed för att hålla den synlig */
        bottom: 20px; /* Justera positionen längst ned på sidan */
        right: 20px; /* Justera positionen längst till höger på sidan */
        z-index: 9999; /* Lägg till z-index för att placera den över andra element */
    }

    .items {
        display: flex;
        justify-content: space-between;
    }

    .container::-webkit-scrollbar {
        display: none; /* För Chrome, Safari och Opera */
    }

    main {
        font-size: 14px; /* Justera fontstorleken för att göra texten mindre */
    }

    #calendar-table {
        margin-left: -100px;
        font-size: 12px; /* Justera fontstorleken för att göra kalendern mindre */
        padding: 0; /* Ta bort padding på sidorna */
    }
}
